[data-theme="1"] {
  --color-background: #3A4663;
  --color-display-background: #181F33;
  --color-keypad-background: #242D44;
  --color-theme-toggle-background: #242D44;
  --color-theme-toggle-switch: #D03F2F;
  --color-text-light: #FFFFFF;
  --color-text-dark: #434A59;
  --color-header-text: #FFFFFF;
  --color-text-display: #FFFFFF;


  --color-key-numbers: #EAE3DC;
  --color-key-numbers-shadow: #B3A497;
  --color-key-numbers-hover: #FFFFFE;
  --color-key-deletion: #647198;
  --color-key-deletion-shadow: #414E73;
  --color-key-deletion-hover: #A2B2E1;
  --color-key-equals: #D03F2F;
  --color-key-equals-shadow: #93261A;
  --color-key-equals-hover: #F96B5B;
  --color-text-equals: #FFFFFF;
}

[data-theme="2"] {
  --color-background: #E6E6E6;
  --color-display-background: #EEEEEE;
  --color-keypad-background: #D2CDCD;
  --color-theme-toggle-background: #D2CDCD;
  --color-theme-toggle-switch: #C85402;
  --color-text-light: #FFFFFF;
  --color-text-dark: #36362C;
  --color-header-text: #36362C;

  --color-key-numbers: #E5E4E1;
  --color-key-numbers-shadow: #A79E91;
  --color-key-numbers-hover: #FFFFFF;
  --color-key-deletion: #378187;
  --color-key-deletion-shadow: #1B6066;
  --color-key-deletion-hover: #62B5BC;
  --color-key-equals: #C85402;
  --color-key-equals-shadow: #873901;
  --color-key-equals-hover: #FF8A38;  
  --color-text-equals: #FFFFFF;
}

[data-theme="3"] {
  --color-background: #17062A;
  --color-display-background: #1E0936;
  --color-keypad-background: #1E0936;
  --color-theme-toggle-background: #242D44;
  --color-theme-toggle-switch: #00DED0;
  --color-text-light: #FFFFFF;
  --color-text-dark: #FFE53D;
  --color-header-text: #FFE53D;
  --color-text-display: #FFE53D;

  --color-key-numbers: #331C4D;
  --color-key-numbers-shadow: #881C9E;
  --color-key-numbers-hover: #6C34AC;
  --color-key-deletion: #56077C;
  --color-key-deletion-shadow: #BE15F4;
  --color-key-deletion-hover: #8631AF;
  --color-key-equals: #00DED0;
  --color-key-equals-shadow: #6CF9F1;
  --color-key-equals-hover: #93FFF8;
  --color-text-equals: #1A2327;
}