.display {
  background-color: var(--color-display-background);
  color: var(--color-text-display);
  
  font-size: var(--font-lg);
  font-family: inherit;
  
  width: 100%;
  padding: 0.625em;
  margin-bottom: 0.6em;
  
  border: none;
  border-radius: 0.25em;
  
  text-align: right;

  &__label {
    color: var(--color-text-display-previous);
    position: absolute;
    right: 1rem;
    top: 0.25rem;
    font-size: var(--font-fixed-sm);
  }
}