@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@700&display=swap');

:root {
  font-family: 'League Spartan', sans-serif;

  font-size: calc(1.82em + 0.8vw);

  --font-lg: 1.25rem;
  --font-md: 1rem;
  --font-sm: 0.625rem;
  --font-xs: 0.375rem;

  --font-fixed-lg: calc(31px + 0.3vw);
  --font-fixed-sm: calc(11px + 0.3vw);
}